{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "whale-rn",
        "libraryDirectory": "./rn/index.js"
      }
    ]
  ]
}
